@charset "utf-8";
/* CSS Document */

#link{
	position: relative;
	margin-left: 20%;
	margin-right: 20%;
    width: auto;
    height: auto;
	border: 10px solid hsla(359,55%,55%,.7);
	border-radius: 5px;
	padding-bottom: 1%;
	padding-top: 1%;
	background: linear-gradient(to right, white, grey);
	display: flex;
  	flex-direction: row;
  	justify-content: center;
}

p{
	position:relative;
	display: flex;
  	flex-direction: row;
  	justify-content: center;
}

a{
	position: relative;
	color: black;
}

h4{
	position:relative;
	display: flex;
  	flex-direction: row;
	justify-content: center;
}

.ISS_pos{
	width: auto;
	position: relative;
	display: flex;
	justify-content: center;
}
.ISS_pos p{
}
