body{
	margin: 0;
	background-image: linear-gradient(to right, gray, white);
	padding: 0;
    margin: 0;

}

#cover{
	background: black;
	position: abolute;
	height: 10px;
	margin-top: 80px;
	width: 100%;
	z-index:2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0px solid #e7e7e7;
  background-color: #333;
  position:relative;
  margin-top:0px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 74px;
  text-decoration:underline;
}

li a:hover:not(.active) {
  background-color: black;
}


#topbanner{
    display: inline-block;
	background-image: linear-gradient(rgba(80,0,0,1.00), black);
	height: 86px;
	width: 100%;
	
}

#TAMULogoWhite{
	height: 87px;
	width: auto;
	float:left;
	padding-left: 43%;
}

#AndLogo{
	float: left;
	color: white;
	padding-top:0;
	font-size: 30px;
	padding-left: 20px;
}

#JPLLogo{
	height: 60px;
	width: auto;
	float: left;
	padding-left: 30px;
	padding-top: 13px;
}


#ResearchPics{
	background: linear-gradient(to right, rgba(80,0,0,1.00), black);
	border-radius: 30px;
	border: 5px solid black;
	margin-top: 50px;
	margin-left: 30%;
	display: block;
	height: 500px;
	width: 380px;
}

#ResearchPics p{
	color: white;
	margin-top: 0px;
	font-size: 20px;
	margin-bottom: 0px;
	display:block;
	/*border: 4px solid black;*/
	padding-left: 77px;
	padding-top: 0px;
	padding-right: 76px;
	left: 2%;
    border-top-left-radius: 175px;
	border-top-right-radius: 175px;
	position: absolute;
}

#ResearchPics div{
	margin-top: 59px;
	margin-left: 25px;
	height: 93px;
	width: 93px;
	display: inline-block;
	overflow: hidden;
	border-radius: 60px;
	background: rgba(105,65,66,1.00);
	
}

#ResearchPics div img{
	position: relative;
	padding-left: 4px;
}

#Researchers_and_relavent_seminars{
	display: inline-block;
	width: 100px;
}

#relavent_seminars{
	display: flex;
	flex-direction: column;
	background-image:  linear-gradient(to right, rgba(80,0,0,1.00), black);
	border-radius: 20px;
	margin-top: 51px;
	height: 500px;
	width: 60%;
	float:right;
	margin-right: 5%;;
	border: 2px solid white;
}

#Title_of_seminar{
	display: flex;
	background: white;
	height: 40px;
	padding-left: 35%;
	padding-top: 0px;
	padding-bottom: 20px;
	border: 3px solid gray;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#Title_of_seminar p{
	border: 2px solid red;
	font-size: 30px;
}

#vid_1{
	border: 0px solid white;
	border-radius: 12px;
	margin-top: 3%;
	margin-left: 3%;
	width: 53%;
	height: 340px;
}

#seminar_description{
	border-bottom-left-radius: 13px;
	border-top-left-radius: 13px;
	margin-top: 20px;
	float: right;
	position:relative;
	background: white;
	display: flex;
	flex-direction: column;
	height: 350px;
	width: 270px;
	border-right: 2px solid black;
	font-family: 'Raleway', sans-serif;
	font-size: 90%;
}

h4{
	margin-left: 120px;
	display: inline;
}


#summary{
	margin-left: 7px;
	float: right;
	overflow: auto;
}

.tab { 
	text-indent:40px 
}

.mid_section_wrapper{
	margin-left: 1%;
	margin-top: 5%;
	float: left;
	margin-right: 1%;
	margin-bottom: 5%;
}

embed{
	float:left;
	width: 60%;
    height: 600px;
	padding: 0;
	margin:0;	
	border-top-left-radius: 5%;
	border-bottom-left-radius: 5%;
}

.research_description{
	display: block;
	height: 100%;
}


.mid_section_wrapper h1{
	border-right: 2px solid black;
	margin-left: 62%;
	display: block;
	color:black;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;


}

.mid_section_wrapper p{

	border-right: 2px solid black;
	margin-left: 62%;
	display: block;
	color:black;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;

}


/* Typography */

.nav_container h2 {
	color: #E4BB97;
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 500;
	text-align: left;
	text-transform: uppercase;
  }
  
  /* Page elements */
  
.nav_container a {
	color: #214E34;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	font-weight: 900;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	color: white;

  }

  /* latin */
  @font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


.nav_container ul{
	display: flex;
	flex-direction: row;
	background: linear-gradient(gray, rgba(214,201,182,1.00));
}

.nav_container ul h2{
	margin: auto;
	padding: 0.9% 0 0.9% 0;
}

.nav_container a:hover:not(.active){
  color:blue;
}

.nav_container{
	margin-top: 5%;
}



.career_udpates{
	background: linear-gradient(white, brown);
	width: 40%;
	margin-left: 2%;
	display: flex;
	flex-direction: column;
	border: 10px solid hsla(17, 100%, 72%, .4);
	border-radius: 4%;
	padding: 3% 0% 3% 0%;
}

.career_udpates h1, h2{
	text-align: center;
	font-family: 'PT Serif', serif;
}

.sign_up{
	color: black;
	text-decoration: none; 
	font-size: 1.4em;
	width: 100%;
	display: flex;
	justify-content: center;
}

.sign_up:hover:not(.active){
	color:blue;
  }
  


#department_list ul:hover:not(.active){
	background-color: hsla(0, 100%, 17%, 0);
  }

#professional_societies ul:hover:not(.active){
	background-color: hsla(0, 100%, 17%, 0);
  }


#department_list, #professional_societies{
	display: flex;
	width: 100%;
	justify-content: center;
}

#department_list ul, #professional_societies ul{
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: rgba(119, 50, 47, 0.4);
	border: 2px black solid;
	margin-right: 2%;
	padding-right: 2%;
	padding-left: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 5%;
}

#department_list a, #professional_societies a{
	color: black;
	text-decoration: none; 
}

#twitter_div{
	margin-left: 2%;
}

#twitter_div2{
	margin-left: 2%;
}

.third_section{
	display: flex;
	flex-direction: row;
	border: 1px solid transparent;
	justify-content: center;
}
